{% extends "base.html" %}
{% block content%}
<body>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        body {
            background-color: #eee;
            font-family: Arial, sans-serif;
        }
        
        .form-container {
            max-width: 500px;
            margin: 50px auto;
            /* background-color: #fff; */
          
            padding: 50px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }
        
        
        .form label {
            display: block;
            margin-bottom: 10px;
        }
        
        .form input[type="text"],
        .form input[type="email"],
        .form input[type="password"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            /* border: none; */
          /* outline: none; */
          border: 1px solid black;
            border-radius: 5px;
            background-color: #f2f2f2;
        }
        
        .form button[type="submit"] {
            background-color: #f43a97;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        
        .form button[type="submit"]:hover {
            background-color: #f43a97;
        }
        
        .form button[type="submit"]:active {
            background-color: #f43a97;
            box-shadow: none;
        }
        
        .form input[type="text"]:focus,
        .form input[type="email"]:focus,
        .form input[type="password"]:focus {
            outline: none;
            box-shadow: 0 0 5px#f43a97;
            background-color: #fff;
        }
        
        .form-error {
            color: red;
            margin-top: 10px;
            font-size: 14px;
        }
        
        .form-success {
            color: #f43a97;
            margin-top: 10px;
            font-size: 14px;
        }
            
            
            
    </style>
	<div class="form-container">
		<form class="form" action="loginMember" method="POST">
			<h2>Login</h2>
            {% csrf_token %}
			<label for="email">Email</label>
			<input type="email" name="email" required>
			<label for="password">Password</label>
			<input type="password" name="password" required>
			<button type="submit">Log In</button><br>
            <p class="login-link">Don't have an account? <a href="SignUp">Sign Up</a></p>

		</form>
	</div>
</body>
{%endblock%}
